<div class="container">
    <div class="card">
        <card-header>
           <div class="d-flex justify-content-between">
            Formulário de busca usuários
            <a class="btn btn-sm btn-primary" [routerLink]="['/user/create']" >Novo</a>
           </div>
        </card-header>
    
        <card-body>
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-3 col-sm-12 mb-4">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Nome..." aria-label="Nome">
                    </div>
                    <div class="col-md-3 col-sm-12 mb-4">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" [(ngModel)]="cpf" name="cpf" placeholder="CPF" aria-label="CPF">
                    </div>
                    <div class="col-md-3 col-sm-12 mb-4">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Email" aria-label="Email">
                    </div>                   
                </div>
                <div class="d-flex gap-1">
                    <button class="btn btn-sm btn-primary" id="btnBuscarUser" (click)="search()">Buscar</button>
                    <button class="btn btn-sm btn-secondary" (click)="clearSearchData()">Limpar filtros</button>
                </div>
            </form>
        </card-body>
        
        <card-footer>
            Formulário de busca usuários
        </card-footer>
    </div>
</div>